# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Monitoring Cost Frugal Platform"

# Security
SECRET_KEY=frugalobservabilitysecret123
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=monitoring_frugal

# Redis / Queue
REDIS_HOST=localhost
REDIS_PORT=6379

# Frugal Settings
METRICS_RETENTION_DAYS=30
LOGS_RETENTION_DAYS=7
TRACES_RETENTION_DAYS=3
SAMPLING_RATE_LOGS=0.1
SAMPLING_RATE_TRACES=0.01
MAX_CARDINALITY_LIMIT=10000

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
LOKI_PORT=3100
OTEL_PORT=4317
